<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>master_core</display-name>
	<env-entry>
		<env-entry-name>url_web_server_for_upload</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>https://invent-integrasi.com:8443/e_catalog/</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>path_web_server_for_upload</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>D://apache-tomcat-8.5.47/webapps/e_catalog/</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>path_web_server_for_upload_report</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>D://apache-tomcat-8.5.47/webapps/Reports/</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>path_web_server_for_upload_report_dev</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>C://Program Files/Apache Software Foundation/Tomcat 9.0/webapps/Reports/</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>url_web_server_for_upload_report</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>https://invent-integrasi.com:8443/Reports/</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>url_web_server_for_upload_report_dev</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>https://konimex.com:8015/Reports/</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>url_web_server_for_upload_product_image</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>D://apache-tomcat-8.5.47/webapps/images/FieldService/product/</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>url_web_server_for_upload_employee_image</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>D://apache-tomcat-8.5.47/webapps/images/FieldService/employee/</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>url_web_server_for_upload_employee_image_dev</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>C://Program Files/Apache Software Foundation/Tomcat 9.0/webapps/images/FieldService/employee/</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>url_web_server_for_upload_posm_images</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>D://apache-tomcat-8.5.47/webapps/images/FieldService/posm/</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>url_web_server_for_upload_posm_images_dev</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>C://Program Files/Apache Software Foundation/Tomcat 9.0/webapps/images/FieldService/posm/</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>url_web_server_for_upload_posm</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>https://invent-integrasi.com:8443/posm/</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>path_web_server_for_upload_posm</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>D://apache-tomcat-8.5.47/webapps/posm/</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>url_server_live</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>https://invent-integrasi.com:8443/</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>url_server_local</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>C://apache-tomcat-8.5.47/webapps/</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>url_ws</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>https://inventintegrasi.s3.ap-southeast-1.amazonaws.com/</env-entry-value>
	</env-entry>

	<servlet>
		<servlet-name>master_core</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>master_core</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
	  <welcome-file>index.html</welcome-file>
	  <welcome-file>index.htm</welcome-file>
	  <welcome-file>index.jsp</welcome-file>
	  <welcome-file>default.html</welcome-file>
	  <welcome-file>default.htm</welcome-file>
	  <welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/mainform/404.jsp</location>
	</error-page>
</web-app>